include swoopyui/
include swoopyui/assets/*
include assets/*
include assets/swoopyui.zip
include assets/swoopyui_xcode_ios.zip
include swoopyui/assets/swoopyui.zip
include swoopyui/assets/swoopyui_xcode_ios.zip